h1 {
  font-size: 18px;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 12px;
}

p {
  font-size: 13px;
}

.rest-apercu__desc i {
  font-size: 21px;
}

footer {
  color: white;
}
footer nav {
  font-weight: bold;
}

footer h2 {
  font-family: "Shrikhand";
}

a {
  text-decoration: none;
  color: black;
}

a[href^=mailto] {
  margin-bottom: 50px;
  text-decoration: none;
  color: white;
}

.bout-val {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  height: 50px;
  width: 220px;
  border-style: none;
  border-radius: 25px;
  box-shadow: 0px 1px 5px gray;
}
.bout-val h3 {
  color: white;
}

.bout-val:hover {
  background: linear-gradient(to bottom right, #e5a0d2, #a588c9);
}

.bout-fonct {
  display: flex;
  justify-content: start;
  align-items: center;
  display: flex;
  border-radius: 30px;
  border-style: none;
  height: 73px;
  background-color: #f6f6f6;
  width: 100%;
  box-shadow: 0px 1px 5px gray;
}
.bout-fonct i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 100%;
}
.bout-fonct h3 {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.bout-fonct:hover {
  background: rgba(147, 86, 220, 0.3);
}
.bout-fonct:hover i {
  color: #9356dc;
}

.bout-menu {
  border-radius: 25px;
  border-style: none;
  height: 73px;
  background-color: white;
  width: 90%;
  box-shadow: 1px 1px 12px #555;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 55px;
}
form h1 {
  margin: 25px;
  text-align: center;
  width: 229px;
}
form p {
  text-align: center;
  width: 305px;
  margin-bottom: 25px;
}
form input {
  background-color: #eaeaea;
  border-style: none;
  font-weight: bold;
  width: 40%;
  margin-left: 10px;
}
form .explo-res__form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  box-shadow: -1px 60px 3px -59px rgba(0, 0, 0, 0.43) inset;
}
form .explo-res__form i {
  font-size: 16px;
  color: #6a6a6a;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
}
footer h2 {
  margin: 25px;
}
footer nav {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25px;
}
footer nav a {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  color: white;
}
footer nav a i {
  margin-right: 10px;
}
footer nav a .email {
  margin-bottom: 50px;
}

header {
  width: 100%;
}

.picure_header {
  border: solid;
  width: 100%;
}

.logo {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu-page__header {
  display: flex;
  align-items: center;
}
.menu-page__header a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.accueil {
  margin: 0;
  background-color: white;
  font-family: "roboto";
  border-style: none;
}
.accueil .bout-fonct__nbre {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  font-size: 10px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: white;
  background-color: #9356dc;
  border-color: #9356dc;
  position: relative;
  right: 15px;
}
.accueil .wrapper {
  opacity: 0;
  -webkit-animation: loader 3s 0.5s linear forwards;
          animation: loader 3s 0.5s linear forwards;
}
@-webkit-keyframes loader {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.accueil .loader {
  width: 100%;
  -webkit-animation: loader2 3s 1.5s linear forwards;
          animation: loader2 3s 1.5s linear forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accueil #loading {
  opacity: 1;
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #9356dc;
  border-radius: 50%;
  border-top-color: #ff79da;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@-webkit-keyframes loader2 {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader2 {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.accueil .fonct-appli {
  padding-bottom: 74px;
  padding-top: 54px;
  display: flex;
  flex-direction: column;
}
.accueil .restaurant {
  background-color: #f6f6f6;
  padding-top: 64px;
  padding-bottom: 64px;
}
.accueil .restaurant h1 {
  margin-left: 20px;
}
.accueil .restaurant .rest-apercu {
  display: flex;
  height: 250px;
  flex-direction: column;
  border-radius: 25px;
  margin: 20px;
  box-shadow: 1px 1px 12px #555;
  background-color: white;
  box-shadow: 0px 1px 5px gray;
}
.accueil .restaurant .rest-apercu__picture {
  position: relative;
  width: 100%;
  height: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.accueil .restaurant .rest-apercu__picture .rest-apercu__sticker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  left: 240px;
  top: 10px;
  font-weight: bold;
}
.accueil .restaurant .rest-apercu__picture img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.accueil .restaurant .rest-apercu__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.accueil .restaurant .rest-apercu__desc .heart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 25px;
  position: relative;
}
.accueil .restaurant .rest-apercu__desc .heart .heart-empty {
  color: black;
}
.accueil .restaurant .rest-apercu__desc .heart .heart-fill {
  display: none;
  background-clip: text;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.accueil .restaurant .rest-apercu__desc .heart:hover {
  cursor: pointer;
}
.accueil .restaurant .rest-apercu__desc .heart:hover .heart-empty {
  display: none;
}
.accueil .restaurant .rest-apercu__desc .heart:hover .heart-fill {
  display: block;
  position: absolute;
  width: 24px;
  -webkit-animation: progres 1s normal linear;
          animation: progres 1s normal linear;
  bottom: 0;
  left: 0;
}
@-webkit-keyframes progres {
  0% {
    height: 0%;
  }
  25% {
    height: 50%;
  }
  50% {
    height: 75%;
  }
  75% {
    height: 85%;
  }
  100% {
    height: 100%;
  }
}
@keyframes progres {
  0% {
    height: 0%;
  }
  25% {
    height: 50%;
  }
  50% {
    height: 75%;
  }
  75% {
    height: 85%;
  }
  100% {
    height: 100%;
  }
}
.accueil .restaurant .rest-apercu__desc .container-rest {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  justify-content: space-evenly;
  margin-left: 15px;
}

.container-fonct {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 33px;
}

.fonct-appli__titre {
  width: 100%;
  margin-left: 20px;
}

.bout-fonct {
  margin-bottom: 20px;
}

.container-fonct {
  margin-left: 20px;
  margin-right: 20px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 82px;
}

.menu-course {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picure_header1 {
  width: 100%;
  height: 250px;
  border-style: none;
  background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.picure_header2 {
  width: 100%;
  height: 250px;
  border-style: none;
  background-image: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.picure_header3 {
  width: 100%;
  height: 250px;
  border-style: none;
  background-image: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.picure_header4 {
  width: 100%;
  height: 250px;
  border-style: none;
  background-image: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.wrapper_over {
  position: absolute;
  top: 260px;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #f6f6f6;
}

.menu-page__main {
  width: 100%;
}
.menu-page__main .bout-menu {
  display: flex;
  justify-content: start;
  align-content: center;
  border-style: none;
  overflow: hidden;
  margin: 20px;
  opacity: 0;
  -webkit-animation: fadein 1s forwards;
          animation: fadein 1s forwards;
}
.menu-page__main .bout-menu:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.menu-page__main .bout-menu:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.menu-page__main .bout-menu:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
@-webkit-keyframes fadein {
  0% {
    transform: translate3d(0, 40px, 0);
  }
  60% {
    opacity: 0;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px 0);
  }
  100% {
    opacity: 1;
    transform: none;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
@keyframes fadein {
  0% {
    transform: translate3d(0, 40px, 0);
  }
  60% {
    opacity: 0;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px 0);
  }
  100% {
    opacity: 1;
    transform: none;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
.menu-page__main .bout-menu__cont {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-style: none;
  width: 80%;
  padding-left: 10px;
}
.menu-page__main .bout-menu__course {
  text-align: start;
  border-style: none;
  height: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}
.menu-page__main .bout-menu__ingredient {
  text-align: start;
  height: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
}
.menu-page__main .bout-menu__cont1 {
  display: flex;
  border-style: none;
  width: 20%;
  align-items: center;
}
.menu-page__main .bout-menu__prix {
  padding-bottom: 10px;
  display: flex;
  height: 100%;
  border-style: none;
  padding-left: 20px;
  padding-right: 20px;
  align-items: flex-end;
}
.menu-page__main .icone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150%;
  margin-left: 20%;
  padding-left: 45%;
  padding-right: 45%;
  font-size: 20px;
  background: #99e2d0;
  color: white;
}
.menu-page__main .bout-menu:hover .bout-menu__cont {
  -webkit-animation: appear1 1s normal linear forwards;
          animation: appear1 1s normal linear forwards;
}
@-webkit-keyframes appear1 {
  0% {
    width: 80%;
  }
  25% {
    width: 75%;
  }
  50% {
    width: 70%;
  }
  75% {
    width: 65%;
  }
  100% {
    width: 60%;
  }
}
@keyframes appear1 {
  0% {
    width: 80%;
  }
  25% {
    width: 75%;
  }
  50% {
    width: 70%;
  }
  75% {
    width: 65%;
  }
  100% {
    width: 60%;
  }
}
.menu-page__main .bout-menu:hover .icone {
  -webkit-animation: appear 0.8s normal linear forwards;
          animation: appear 0.8s normal linear forwards;
}
@-webkit-keyframes appear {
  0% {
    margin-left: 20%;
  }
  25% {
    margin-left: 15%;
  }
  50% {
    margin-left: 10%;
  }
  75% {
    margin-left: 5%;
  }
  100% {
    margin-left: 0%;
  }
}
@keyframes appear {
  0% {
    margin-left: 20%;
  }
  25% {
    margin-left: 15%;
  }
  50% {
    margin-left: 10%;
  }
  75% {
    margin-left: 5%;
  }
  100% {
    margin-left: 0%;
  }
}
.menu-page__main .bout-menu:hover i {
  -webkit-animation: appear2 0.8s normal linear forwards;
          animation: appear2 0.8s normal linear forwards;
}
@-webkit-keyframes appear2 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes appear2 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu-page__main .menu__titre {
  margin: 40px;
}
.menu-page__main .menu-course__titre {
  width: 100%;
  margin-left: 40px;
}
.menu-page__main .wrapper_titre {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-page__main .heart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 25px;
  position: relative;
}
.menu-page__main .heart .heart-empty {
  color: black;
}
.menu-page__main .heart .heart-fill {
  display: none;
  background-clip: text;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-page__main .heart:hover {
  cursor: pointer;
}
.menu-page__main .heart:hover .heart-empty {
  display: none;
}
.menu-page__main .heart:hover .heart-fill {
  display: block;
  position: absolute;
  width: 24px;
  -webkit-animation: progres 1s normal linear;
          animation: progres 1s normal linear;
  bottom: 0;
  left: 0;
}/*# sourceMappingURL=ohmyfood.css.map */