footer {
  display: flex;
  flex-direction: column;
  background-color: $footer-background;
  h2 {
    margin: 25px;
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25px;
    a {
      display: flex;
      justify-content: start;
      margin-bottom: 10px;
      color: white;
      i {
        margin-right: 10px;
      }
      .email {
        margin-bottom: 50px;
      }
    }
  }
}
