header {
  width: 100%;
}

.picure_header {
  border: solid;
  width: 100%;
}
.logo {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu-page__header {
  display: flex;
  align-items: center;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
  }
}
