header {
  width: 100%;
}

.picure_header {
  border: solid;
  width: 100%;
}
.header__logo {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  a {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
  }
}
