.menu-course {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .menu-course {
    width: 33%;
  }
}
.wrapper_over {
  position: absolute;
  top: 260px;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: $section-background;
}
.menu-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;

  .menu-course__h2 {
    width: 100%;
    margin-left: 40px;
    hr {
      width: 10%;
      border: solid $tertiary-color 1.5px;
    }
  }
  .menu-titre {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .menu-titre__h1 {
    width: 60%;
  }
  .heart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    width: 25px;
    position: relative;

    .heart-empty {
      color: black;
    }
    .heart-fill {
      display: none;
      background-clip: text;
      background: linear-gradient(to bottom right, #ff79da, #9356dc);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .heart:hover {
    cursor: pointer;
    .heart-empty {
      display: none;
    }
    .heart-fill {
      display: block;
      position: absolute;
      width: 24px;
      animation: progres 1s normal linear;
      bottom: 0;
      left: 0;
    }
  }
}
@media (min-width: 1024px) {
  .menu-main {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.menu-picture1 {
  width: 100%;
  height: 250px;
  border-style: none;
  background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.menu-picture2 {
  width: 100%;
  height: 250px;
  border-style: none;
  background-image: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.menu-picture3 {
  width: 100%;
  height: 250px;
  border-style: none;
  background-image: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.menu-picture4 {
  width: 100%;
  height: 250px;
  border-style: none;
  background-image: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.accueil {
  margin: 0;
  background-color: $background;
  font-family: $font-text;
  border-style: none;

  .wrapper {
    width: 100%;
    opacity: 0;
    animation: loader 3s 0.5s linear forwards;
    @keyframes loader {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 0.1;
      }
      20% {
        opacity: 0.2;
      }
      30% {
        opacity: 0.3;
      }
      40% {
        opacity: 0.4;
      }
      50% {
        opacity: 0.5;
      }
      60% {
        opacity: 0.6;
      }
      70% {
        opacity: 0.7;
      }
      80% {
        opacity: 0.8;
      }
      90% {
        opacity: 0.9;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .loader {
    width: 100%;
    display: flex;
  }
  #loading {
    top: 24%;
    left: 45%;
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid $primary-color;
    border-radius: 50%;
    border-top-color: $secondary-color;
    animation: spin 1s ease-in-out infinite, loader2 3s 1s ease-in-out forwards;
  }
  @keyframes loader2 {
    0% {
      opacity: 1;
    }
    10% {
      opacity: 0.9;
    }
    20% {
      opacity: 0.8;
    }
    30% {
      opacity: 0.7;
    }
    40% {
      opacity: 0.6;
    }
    50% {
      opacity: 0.5;
    }
    60% {
      opacity: 0.4;
    }
    70% {
      opacity: 0.3;
    }
    80% {
      opacity: 0.2;
    }
    90% {
      opacity: 0.1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .fonct-appli {
    padding-bottom: 74px;
    padding-top: 54px;
    display: flex;
    flex-direction: column;
  }

  .restaurant {
    background-color: $section-background;
    padding-bottom: 64px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    width: 100%;
    a {
      margin: 10px;
    }
  }
  @media (min-width: 1024px) {
    .restaurant {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 20px;

      h1 {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
      }
      a {
        width: 45%;
        margin: 20px;
      }
    }
  }

  .container-fonct {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 33px;
  }
  .fonct-appli__titre {
    width: 100%;
    margin-left: 20px;
  }

  .bout-fonct {
    margin-bottom: 20px;
  }
  .container-fonct {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media (min-width: 1024px) {
    .container-fonct {
      flex-direction: row;
      width: 100%;
      margin: 0%;
    }
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}
