$background: white;
$footer-background: #353535;
$section-background: #f6f6f6;
$section-lieux: #eaeaea;
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$bouton-survole: #f5edff;
$font-titre: "Shrikhand";
$font-text: "roboto";
$font-h1: 18px;
$font-h2: 14px;
$font-h3: 12px;
$font-p: 13px;
$font-i-form: 16px;
$font-nbre-fonct: 10px;
$widht-menucourse: 350px;
$margin-menucourse: 30px;
