* {
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: $background;
  font-family: $font-text;
  border-style: none;
  .logo {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fonct-appli {
    padding-bottom: 74px;
    padding-top: 54px;
    display: flex;
    flex-direction: column;
  }

  .restaurant {
    background-color: $section-background;
    padding-top: 64px;
    padding-bottom: 64px;
    h1 {
      margin-left: 20px;
    }
    .rest-apercu {
      display: flex;
      height: 250px;
      flex-direction: column;
      border-radius: 25px;
      margin: 20px;
      box-shadow: 1px 1px 12px #555;
      background-color: white;
      box-shadow: 0px 1px 5px gray;
    }

    .rest-apercu__picture {
      position: relative;
      width: 100%;
      height: 70%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      .rest-apercu__sticker {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: #99e2d0;
        color: #008766;
        width: 80px;
        height: 30px;
        border-radius: 5px;
        left: 240px;
        top: 10px;
        font-weight: bold;
      }
      img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .rest-apercu__desc {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30%;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;

      .heart {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 23px;
        width: 25px;
        position: relative;

        .heart-empty {
          color: black;
        }
        .heart-fill {
          display: none;
          background-clip: text;
          background: linear-gradient(to bottom right, #ff79da, #9356dc);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .heart:hover {
        cursor: pointer;
        .heart-empty {
          display: none;
        }
        .heart-fill {
          display: block;
          position: absolute;
          width: 24px;
          animation: progres 1s normal linear;
          bottom: 0;
          left: 0;
        }
      }
      @keyframes progres {
        0% {
          height: 0%;
        }
        25% {
          height: 50%;
        }
        50% {
          height: 75%;
        }
        75% {
          height: 85%;
        }
        100% {
          height: 100%;
        }
      }
      .container-rest {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        justify-content: space-evenly;
        margin-left: 15px;
      }
    }
  }
}

.container-fonct {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 33px;
}
.fonct-appli__titre {
  width: 100%;
  margin-left: 20px;
}

.bout-fonct {
  margin-bottom: 20px;
}
.container-fonct {
  margin-left: 20px;
  margin-right: 20px;
}

.menu-course {
  padding: 20px;
}

.bout-menu {
  margin-bottom: 20px;
}

.menu-course__titre {
  margin-bottom: 20px;
}
.menu__titre {
  margin-left: 20px;
}
main {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-style: solid;
}
.bout-menu {
  display: flex;
  justify-content: start;
  align-content: center;
  width: 100%;
  border-style: none;
  overflow: hidden;

  .bout-menu__cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-style: none;
    width: 80%;
  }
  .bout-menu__course {
    border-style: none;
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .bout-menu__ingredient {
    border-style: none;
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .bout-menu__cont1 {
    display: flex;
    border-style: none;
    width: 20%;
    justify-content: stretch;
    align-items: center;
  }
  .bout-menu__prix {
    height: 100%;
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .icone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150%;
    margin-left: 50px;
    padding-left: 40%;
    padding-right: 40%;
    font-size: 20px;
    background: #99e2d0;
    color: white;
  }
}
.bout-menu:hover {
  .bout-menu__cont {
    animation: appear1 1s normal linear forwards;
  }
  @keyframes appear1 {
    0% {
      width: 80%;
    }
    25% {
      width: 75%;
    }
    50% {
      width: 70%;
    }
    75% {
      width: 65%;
    }
    100% {
      width: 60%;
    }
  }

  .icone {
    animation: appear 1s normal linear forwards;
  }
  @keyframes appear {
    0% {
      margin-left: 50px;
    }
    25% {
      margin-left: 40px;
    }
    50% {
      margin-left: 30px;
    }
    75% {
      margin-left: 20px;
    }
    100% {
      margin-left: 0px;
    }
  }
  .bout-fonct__nbre {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    font-size: $font-nbre-fonct;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    color: white;
    background-color: $primary-color;
    border-color: $primary-color;
    position: relative;
    right: 15px;
  }
}
