* {
  margin: 0;
  box-sizing: border-box;
}
.accueil {
  margin: 0;
  background-color: $background;
  font-family: $font-text;
  border-style: none;
  .bout-fonct__nbre {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    font-size: $font-nbre-fonct;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    color: white;
    background-color: $primary-color;
    border-color: $primary-color;
    position: relative;
    right: 15px;
  }
  .wrapper {
    width: 100%;
    opacity: 0;
    animation: loader 3s 0.5s linear forwards;
    @keyframes loader {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 0.1;
      }
      20% {
        opacity: 0.2;
      }
      30% {
        opacity: 0.3;
      }
      40% {
        opacity: 0.4;
      }
      50% {
        opacity: 0.5;
      }
      60% {
        opacity: 0.6;
      }
      70% {
        opacity: 0.7;
      }
      80% {
        opacity: 0.8;
      }
      90% {
        opacity: 0.9;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .loader {
    width: 100%;
    display: flex;
  }
  #loading {
    top: 24%;
    left: 45%;
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid $primary-color;
    border-radius: 50%;
    border-top-color: $secondary-color;
    animation: spin 1s ease-in-out infinite, loader2 3s 1s ease-in-out forwards;
  }
  @keyframes loader2 {
    0% {
      opacity: 1;
    }
    10% {
      opacity: 0.9;
    }
    20% {
      opacity: 0.8;
    }
    30% {
      opacity: 0.7;
    }
    40% {
      opacity: 0.6;
    }
    50% {
      opacity: 0.5;
    }
    60% {
      opacity: 0.4;
    }
    70% {
      opacity: 0.3;
    }
    80% {
      opacity: 0.2;
    }
    90% {
      opacity: 0.1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .fonct-appli {
    padding-bottom: 74px;
    padding-top: 54px;
    display: flex;
    flex-direction: column;
  }

  .restaurant {
    background-color: $section-background;
    padding-top: 64px;
    padding-bottom: 64px;
    h1 {
      margin-left: 20px;
    }
    .rest-apercu {
      display: flex;
      height: 250px;
      flex-direction: column;
      border-radius: 25px;
      margin: 20px;
      box-shadow: 1px 1px 12px #555;
      background-color: white;
      box-shadow: 0px 1px 5px gray;
    }

    .rest-apercu__picture {
      position: relative;
      width: 100%;
      height: 70%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      .rest-apercu__sticker {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: #99e2d0;
        color: #008766;
        width: 80px;
        height: 30px;
        border-radius: 5px;
        left: 240px;
        top: 10px;
        font-weight: bold;
      }
      img {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .rest-apercu__desc {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30%;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;

      .heart {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 23px;
        width: 25px;
        position: relative;

        .heart-empty {
          color: black;
        }
        .heart-fill {
          display: none;
          background-clip: text;
          background: linear-gradient(to bottom right, #ff79da, #9356dc);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .heart:hover {
        cursor: pointer;
        .heart-empty {
          display: none;
        }
        .heart-fill {
          display: block;
          position: absolute;
          width: 24px;
          animation: progres 1s normal linear;
          bottom: 0;
          left: 0;
        }
      }
      @keyframes progres {
        0% {
          height: 0%;
        }
        25% {
          height: 50%;
        }
        50% {
          height: 75%;
        }
        75% {
          height: 85%;
        }
        100% {
          height: 100%;
        }
      }
      .container-rest {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        justify-content: space-evenly;
        margin-left: 15px;
      }
    }
  }
}

.container-fonct {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 33px;
}
.fonct-appli__titre {
  width: 100%;
  margin-left: 20px;
}

.bout-fonct {
  margin-bottom: 20px;
}
.container-fonct {
  margin-left: 20px;
  margin-right: 20px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 82px;
}
.menu-course {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picure_header1 {
  width: 100%;
  height: 250px;
  border-style: none;
  background-image: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.picure_header2 {
  width: 100%;
  height: 250px;
  border-style: none;
  background-image: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.picure_header3 {
  width: 100%;
  height: 250px;
  border-style: none;
  background-image: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.picure_header4 {
  width: 100%;
  height: 250px;
  border-style: none;
  background-image: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.wrapper_over {
  position: absolute;
  top: 260px;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: $section-background;
}

.menu-page__main {
  width: 100%;

  .bout-menu {
    display: flex;
    justify-content: start;
    align-content: center;
    border-style: none;
    overflow: hidden;
    margin: 20px;
    opacity: 0;
    animation: fadein 1s forwards;
  }
  .bout-menu:nth-child(2) {
    animation-delay: 0.2s;
  }
  .bout-menu:nth-child(3) {
    animation-delay: 0.4s;
  }
  .bout-menu:nth-child(4) {
    animation-delay: 0.6s;
  }

  @keyframes fadein {
    0% {
      transform: translate3d(0, 40px, 0);
    }

    60% {
      opacity: 0;
      transform: translate3d(0, 25px, 0);
    }

    75% {
      transform: translate3d(0, -10px, 0);
    }

    90% {
      transform: translate3d(0, 5px 0);
    }

    100% {
      opacity: 1;
      transform: none;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }

  .bout-menu__cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-style: none;
    width: 80%;
    padding-left: 10px;
  }
  .bout-menu__course {
    text-align: start;
    border-style: none;
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
  }

  .bout-menu__ingredient {
    text-align: start;
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
  }

  .bout-menu__cont1 {
    display: flex;
    border-style: none;
    width: 20%;
    align-items: center;
  }
  .bout-menu__prix {
    padding-bottom: 10px;
    display: flex;
    height: 100%;
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
    align-items: flex-end;
  }

  .icone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150%;
    margin-left: 20%;
    padding-left: 45%;
    padding-right: 45%;
    font-size: 20px;
    background: #99e2d0;
    color: white;
  }

  .bout-menu:hover {
    .bout-menu__cont {
      animation: appear1 1s normal linear forwards;
    }
    @keyframes appear1 {
      0% {
        width: 80%;
      }
      25% {
        width: 75%;
      }
      50% {
        width: 70%;
      }
      75% {
        width: 65%;
      }
      100% {
        width: 60%;
      }
    }

    .icone {
      animation: appear 0.8s normal linear forwards;
    }
    @keyframes appear {
      0% {
        margin-left: 20%;
      }
      25% {
        margin-left: 15%;
      }
      50% {
        margin-left: 10%;
      }
      75% {
        margin-left: 5%;
      }
      100% {
        margin-left: 0%;
      }
    }
    i {
      animation: appear2 0.8s normal linear forwards;
    }
    @keyframes appear2 {
      0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(90deg);
      }
      50% {
        transform: rotate(180deg);
      }
      75% {
        transform: rotate(270deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .menu__titre {
    margin: 40px;
  }
  .menu-course__titre {
    width: 100%;
    margin-left: 40px;
  }
  .wrapper_titre {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .heart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    width: 25px;
    position: relative;

    .heart-empty {
      color: black;
    }
    .heart-fill {
      display: none;
      background-clip: text;
      background: linear-gradient(to bottom right, #ff79da, #9356dc);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .heart:hover {
    cursor: pointer;
    .heart-empty {
      display: none;
    }
    .heart-fill {
      display: block;
      position: absolute;
      width: 24px;
      animation: progres 1s normal linear;
      bottom: 0;
      left: 0;
    }
  }
}
